<!DOCTYPE html>
<html>
<title>SwiftPay Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.dashboardpanel{
margin: auto;
width: 100%;
padding: 20px;
}

</style>

<body class="w3-light-grey">

<!-- Top container -->
<!--<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">-->
<div class="w3-display-topright w3-bar w3-top w3-hover-text-light-grey w3-large" style="color:white;">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <div class="w3-bar-item w3-right" style="color:white; font-size: 12pt"><a href="logout" target="">Sign Out</a></div>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="../static/images/admin.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>Mike</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5><strong>Dashboard</strong></h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-television"></i> Overview</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h4><b><i class="fa fa-dashboard"></i> My Dashboard</b></h4>
  </header>

 <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
    <h2 align="center">Overview Transactions</h2>
      <div class="dashboardpanel">
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><strong>Date</strong></p></td>
            <td><strong>Username</strong></p></td>
            <td><strong>Transaction Type</strong></p></td>
            <td><strong>Ringgit Malaysia</strong></p></td>
          </tr>
          <tr>
            <td>4-April-2019</td>
            <td>>amammustofa</td>
            <td>Top Up</td>
            <td>5</td>
          </tr>
          <tr>
            <td>3-February-2019</td>
            <td>aurora27</td>
            <td>Deduct</td>
            <td>10</td>
          </tr>
          <tr>
            <td>1-January-2019</td>
            <td>mhmd_abul</td>
            <td>Top Up</td>
            <td>20</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-dark-grey">
    <h4>CONTACT SUPPORT</h4>
    <i class="fa fa-envelope" style="font-size:18px"> TP043983@mail.apu.edu.my</i>
    <p>Ⓒ2019 APU E-Wallet SwiftPay by TP043983 </p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
