<!DOCTYPE html>
<html>
<title>SwiftPay</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image:linear-gradient(rgba(10,10,10,0.6),rgba(10,10,10,0.6)), url('../static/images/digital-wallet.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  filter: grayscale(-10%);
}
.title-h1{
  text-shadow: 2px 1px #000000;
}
.outline{
  text-shadow: 1px 1px #000000;
}

</style>
<body>
<form action="/dashboard" method="POST"></form>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <div class="apuweb"><a href="http://apu.edu.my"><img src="../static/images/APU1.png" style='position:fixed; top:10; left:10;' width='257px' height='73px' alt=''></a></div>
  </div>
  <div class="w3-display-topright w3-padding-large w3-large">
    <div class="sigin-btn"><a href="login_page">Administrator Access</a></div>
  </div>
  <div class="w3-display-middle">
    <h1 class="title-h1 w3-jumbo w3-animate-top" style="text-align: center">SwiftPay</h1>
    <hr class="w3-border-grey" style="margin:auto;width:auto">
    <p class="outline w3-large w3-center"> SwiftPay is an electronic wallet made for online transactions through a smartphone for APU daily transaction. </br>You can store your money digitally and Top-Up the balance easily through SwiftPay</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
      Ⓒ2019 APU E-Wallet SwiftPay by TP043983</a>
  </div>
</div>

</body>
</html>
